---
import Layout from '../layouts/Layout.astro';
import Greetings from './_components/Greetings'
import Projects from './_components/Projects'
---

<Layout title="Adamson Vispo">
	<main class="w-full grid grid-rows-1 place-items-center scroll-smooth max-w-[1140px] px-[15px]">
    <Greetings />
    <Projects client:load/>
  </main>
</Layout>
<style lang="scss">
  main {
    margin: auto;
  }
</style>
